

.accordion_section{
     max-width: 700px;
 
  margin: 100px auto 100px;
display: flex;
flex-direction: column;
}

.accordion{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    transition: background-color 0.6s ease;
}

.accordion:hover, .active{
    background-color: #ccc;
}

.accordion_title{
    font-size: 14px;
    font-weight: bold;
}

.accordion_icon{
    margin-left: auto;
    transition: transform 0.6s ease;
}

.rotate{
    transform: rotate(90deg);
}

.accordion_content{
    background-color: white;
    overflow: hidden;
    transition: max-height 0.6s ease;
  
}

.accordion_text{
    font-size: 14px;
    padding: 18px;
}